@tailwind base;
@tailwind components;
@tailwind utilities;

.student-bg {
  background-image: url("../assets/ForStudents/headerbg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.purple-bg {
  background-image: url("../assets/College/puplebg.svg");
  background-position: center;
  object-position: bottom;
  background-size: 100%;
  /* height: 1200px; */
  background-repeat: no-repeat;
}